<h1><%= @artist.name %>'s Page</h1>

<div><br>
  <h2>Biography:</h3>
  <p><%= @artist.bio %></p>
</div><br>

<h3>My edit</h2>

<div>
  <p><strong>Name:</strong> <%= @artist.name %></p>
  <p><strong>Biography:</strong> <%= @artist.bio %></p>
</div>